.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 10px;
  }
  
  .nav-links button {
    background-color: #343131;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .nav-links button:hover {
    background-color: #2f2c2c;
  }
  
  .nav-links span {
    font-size: 1rem;
    margin-right: 10px;
  }
  